.gb-left {
  background-color: white;
  position: relative;
  top: 15px;
  width: 150px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border-radius: 9px;
}
.inner-gb-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.number {
  margin-right: 7px;
}
.digit {
  font-size: 35px;
  position: relative;
  font-weight: bold;
}
.one {
  bottom: 1px;
  margin-right: 1px;
}
.eight {
  bottom: 4px;
}
.five {
  margin-left: 1px;
}
.left {
  font-size: 10px;
}

@media screen and (min-width: 1000px) {
  .gb-left {
    /* display: none; */
    border-radius: 9px 9px 0px 9px;
    width: 160px;
    height: 70px;
    top: -130px;
    left: 90px;
  }

  .inner-gb-left {
    margin-left: 0px;
    margin-right: 0px;
    margin: auto;
  }

  /* https://css-tricks.com/snippets/css/css-triangle/ */
  .triangle {
    /* background: transparent;
  position: relative;
  left: 40px;
  width: 0px;
  height: 0px;
  border-top-width: 10px;
  border-left-width: 10px;
  border-left-color: transparent;

  border-bottom-width: 10px;
  border-bottom-color: transparent;

  border-right-width: 10px;
  border-right-color: transparent; */
    position: absolute;
    left: 144px;
    top: 68px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;

    border-bottom: 12px solid white;

    transform: rotate(45deg);
  }
}
